* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.cart-main-container {
    width: 100%;
    /* height: 100Vh; */
    /* background-color: antiquewhite; */
    background-color: rgb(213, 213, 213);
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.cart-inner-container {
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    /* justify-content: center; */
    margin: 1rem 3rem;
    /* padding: 1.5rem; */
    border-radius: 1rem;

}

.show-product {
    box-shadow: 1px 1px 8px;
    border-radius: 1rem 0 0 1rem;
    width: 70%;
    background-color: white;
    padding: 2rem 2rem 2rem 0rem;
}

.show-product h1 {
    margin-bottom: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.count-product {
    box-shadow: 0px 0px 4px;
    width: 30%;
    background-color: rgb(213, 213, 213);
    border-radius: 0 1rem 1rem 0;
    padding: 2rem;
}

/* inner */

.productdiv {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 1rEm;
    margin: 1rem;
    /* height: 10vh; */
    /* margin-left: -10px; */
}

.img-container {
    /* width: 15rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */

}

.img-container img {
    width: 10rem;
    min-height: 7rem;
    max-height: 8rem;
}

.cetagary-container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.cetagary-container p {
    font-size: 20px;
    font-weight: 600;
}

.qty-container {

    display: flex;
    align-items: center;
    display: flex;
}

.qty-container button,
.qty-container p {
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

}

.qty-container button {
    background: #f2f2f2;
    cursor: pointer;
}

.qty-container p {
    background: #fff;
}

.price-container p {
    font-size: 20px;
}

.remove-container button {
    padding: 0.4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 0.3rem;
    background-color: red;
    color: white;
}

.hr {
    margin-left: 1.3rem;
}

.count-product {
    margin: 0 auto;

}
.count-product h1{
    margin-bottom: 2.5rem;
}