* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.p-main-container {
    background-color: rgb(23, 188, 188);
    width: 100%;
    height: 100vh;
}

.main-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

.p-inner-container {
    width: 100%;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 1rem 3rem;

}

.filter-container {
    width: 20%;
    background-color: rgb(35, 86, 130);
    padding: 1rem;
}

.product-container {
    width: 80%;
    background-color: blueviolet;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.3rem;
}
.cartvalue{
    background-color: cadetblue;
    width: 20rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: center;
}
.cartvalue img{
    width: 100%;
    height: 30vh;
    margin-bottom: 0.8rem;
}


.cartvalue .add{
    width: 100%;
     display: inline-block;
    margin-top: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    font-size: 0.95rem;
    transition: background-color 0.3s ease;
}

.cartvalue .add:hover {
    background-color: #0056b3;
}

.delte-mony{
    text-decoration: line-through;
}
.total-stocks{
    display: flex;
}
.quantity-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    width: 50%;
    margin-top: 1rem;
    height: 5vh;
    padding: 0.2rem;
    border-radius: 0.3rem;
    border: 1px solid black;
}
.quantity-container button{
    padding: 0.3rem;
    font-weight: 800;
    flex-grow: 1;
    margin: 0 0.2rem;
    background-color: transparent;
    border: none;;
    width: 100%;
    font-size: large;
    
}
.quantity-container p{
    border: 1px solid black;
    flex-grow: 1;
    text-align: center;
    height: 5vh;
    font-weight: 600;
    width: 100%;
    padding-top: 0.5rem;
}
