* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* ----- header styles start ------- */
.main-header {
    margin: 1rem;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    height: 9vh;

}

.header-logo a {
    font-weight: 900;
    font-size: 2rem;
    background-color: rgb(234, 206, 208);
    color: #333333;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 2rem;

}

.header-nav nav {
    display: flex;
    margin-right: 5rem;
}

.header-nav li {
    list-style: none;
}

.header-nav nav a {
    text-decoration: none;
    color: #222222;
    margin: 0 2rem;
    font-size: 1.2vw;
    line-height: 40px;
}

.header-nav nav a:hover {
    color: #c9341e;
}

@media(max-width: 850px) {
    .main-header {
        flex-direction: column;
        height: auto;
    }

    .header-nav nav {
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-top: 1.5rem;
    }

    .header-nav nav a {
        margin: 10px 0;
        font-size: 2.7vw;
    }

}

/* ----- header styles end ------- */

/* ----- section styles start ------- */
.main-section {
    /* margin-top: 10px; */
    background-color: white;
    display: flex;
    flex-direction: column;

}




.slider-main-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    /* border-radius: 8px; */
    /* max-width: 800px; */
    /* margin: 50px auto; */
}

.slider {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.slider img {
    width: 100vw;
    height: 550px;
    /* border-radius: 10px; */
    object-position: center;
    flex-shrink: 0;
}

.back,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.back {
    left: 10px;
}

.next {
    right: 10px;
}






.section-welcome {
    text-align: center;
    margin-top: 2rem;
    padding: 4rem 4rem;
    background-color: white;
    box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.1);
    margin-left: 4rem;
    margin-right: 4rem;
    position: relative;
    top: -5rem;
}

.section-welcome h2 {
    font-size: 2.5rem;
    color: #333333;
    margin-bottom: 1rem;
}

.latest-product {
    text-align: center;
    padding: 2rem 4rem;
    background-color: white;
    box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.1);
    margin-left: 4rem;
    margin-right: 4rem;
    position: relative;

}

#product-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    padding: 0 1rem;
}

.Product {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem;
    width: 280px;
    height: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Product:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);

}

.Product img {
    width: 100%;
    max-height: 210px;
    border-radius: 6px;
}

.Product h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.Product p {
    color: #555;
    font-size: 0.95rem;
    line-height: 1.5;
}

.Product button {
    display: inline-block;
    margin-top: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    font-size: 0.95rem;
    transition: background-color 0.3s ease;
}

.Product button:hover {
    background-color: #0056b3;
}

/* ----- section styles end ------- */





/* ----- footer styles start ------- */
.main-footer {
    background-color: rgb(12, 12, 12);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 3rem;
    /* padding: 5rem; */
    /* text-align: center; */
    /* box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); */
}

.footer-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 3rem;
    margin: 0.2rem;
    align-self: flex-start;

}

.footer-main-container h3 {
    color: #ca2828;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.footer-main-container nav li {
    list-style: none;
    margin-bottom: 1rem;
}

.footer-main-container nav li a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}



.footer-bottom-container{
    display: flex;
    gap: 15px;
}

.footer-bottom-container a {
    text-decoration: none;
}

.footer-bottom-container a i {
    font-size: 35px;
    color: white;
    padding: 12px;
    border-radius: 35%;
    transition: transform 0.3s, box-shadow 0.3s;
}

.instgram {
    background: radial-gradient(circle at 30% 107%,
            #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.facebook{
    background: radial-gradient(circle at 30% 107%,
            #3b5998 0%, #4c69ba 40%, #8b9dc3 70%, #dfe3ee 100%);
    padding: 15px;
}

.whatsapp{
    background: radial-gradient(circle at 30% 107%,
            #25D366 0%, #128C7E 60%, #075E54 100%);
}

.telegram{
    background: radial-gradient(circle at 30% 107%,
            #37AEE2 0%, #229ED9 40%, #0088CC 100%);
}

/* hover effect */
.footer-bottom-container a i:hover {
    transform: scale(1.2);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}


/* ----- footer styles end ------- */